{% extends "global/Page.html" %}
{% load otree static %}




{% block content %}
<div id="app">
    <h3 v-text="display"></h3>
    <h1 id="question"> {{ question }}</h1>

    <div class='cards'>
        <form>
            {% for answer in answerDraw %}
            <div class="answerCard">
                <input v-model= "answer" name="chosenAnswer" 
                id='{{ answer }}' type='radio' value='{{ answer }}'> <br>
                <label for='{{ answer }}'> <strong>{{answer}}</strong></label>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
    
    
    

    

    {% next_button %}
    <div class="chatbox">
        {% chat nickname=player.username %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <!-- define a script -->
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                display: '',
                answer: '',
                original: '',
            },
            methods: {
                
                


            },
            watch: {
                answer() {
                    if(this.original.indexOf('_') == -1){
                        this.display = this.original + " " + this.answer    

                    }
                    else{
                        this.display = this.original.replace('_', '[ ' + this.answer + ' ]') 
                    }
                    
                }
            },
            mounted(){
                this.original = document.getElementById("question").innerHTML
                this.display = this.original
                this.display = this.display.replace('_','[ ]')
                
            }
        })
    </script>


{% endblock %}













{% block styles %}

    <!-- define a style -->
    <link href="{% static 'global/cardsStyle.css' %}" rel="stylesheet">

   

{% endblock %}