
{% extends 'otree/WaitPage.html' %} 
{% load static otree %}


{% block title %}
    {% if player.isCz %}
    Wait for your friends to choose their answers.
    {% else %}

     Wait for the card czar to choose their favorite answer.
     {% endif %}
{% endblock %}

{% block content %}
    

    
    
    <div class="chatbox">
        {% chat nickname=player.username %}
    </div>
    
    
    


{% endblock %}

{% block styles %}

<!-- define a style -->
<link href="{% static 'global/cardsStyle.css' %}" rel="stylesheet">



{% endblock %}


