{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose your favorite question.
{% endblock %}

{% block content %}


    
   
<div class='cards'>
    <form>
        {% for question in questionList %}
        <div class="questionCard">
            <input  name="question" id='{{ question }}' 
            type='radio' value='{{ question }}'> <br>
            <label style="color:white"for='{{ question }}'> <strong>{{question}}</strong></label>
        </div>
        {% endfor %}
    </form>
</form>

<br>

    

    

    {% next_button %}
    <div class="chatbox">
        {% chat nickname=player.username %}
    </div>

{% endblock %}



{% block styles %}

<!-- define a style -->
<link href="{% static 'global/cardsStyle.css' %}" rel="stylesheet">



{% endblock %}