
{% extends 'otree/WaitPage.html' %} 
{% load static otree %}


{% block title %}
     things your good friends came up with
{% endblock %}

{% block content %}

    
    <div class="cards">
        <div class="questionCard">
            <br>
            <p><strong> {{ group.question }}</strong></p>

        </div>
        {% for value in answers.values %}

            <div class="answerCard">
                <br>
               <p><strong>{{ value }} </strong></p>
            </div>
            


        {% endfor %}
        <h3 style="float:left">wait for the card czar to pick their favorite!</h3>
    </div>
    
    


{% endblock %}

{% block styles %}

<!-- define a style -->
<style type="text/css">

    .answerCard {
        border-radius: 8px;
        border: 2px solid black;
        padding: 2px 16px;
        height: 200px;
        width: 150px;
        margin: 20px;
        margin-left: 0px;
        float: left;



    }
    .progress {
        display: none;
    }
    .questionCard {
        border-radius: 8px;

        background-color: black;
        padding: 2px 16px;
        height: 200px;
        width: 150px;
        margin: 20px;
        margin-left: 0px;
        float: left;
    }
    .questionCard > p{
        color: white
    }
    

    

    #question {
        display: none;
    }

    .card {
        clear: both;
    }

    .otree-btn-next {
        display: block;
        clear: both;
        background-color: black;
    }
</style>



{% endblock %}


