
{% extends 'otree/WaitPage.html' %} 
{% load static otree %}


{% block title %}
     Great ideas your friends had:
{% endblock %}

{% block content %}

    
    <div class="cards">
        <div class="questionCard">
            <br>
            <p><strong> {{ group.question }}</strong></p>

        </div>
        {% for value in answers.values %}

            <div class="answerCard">
                <br>
               <p><strong>{{ value }} </strong></p>
            </div>
            


        {% endfor %}
        <h3 style="float:left">wait for the card czar to pick their favorite!</h3>
    </div>
    <div class="chatbox">
        {% chat nickname=player.username %}
    </div>
    
    
    


{% endblock %}

{% block styles %}

<!-- define a style -->
<link href="{% static 'global/cardsStyle.css' %}" rel="stylesheet">



{% endblock %}


