{% extends "global/Page.html" %}
 {% load otree static %}


{% block title %}
     things your good friends came up with. choose your favorite!
{% endblock %}

{% block content %}

    
    <div class="cards">
        <div class="questionCard">
            <br>
            <p><strong> {{ group.question }}</strong></p>

        </div>
        <form>
            {% for value in answers.values %}
            <div class="answerCard">
                <input name="winAnswer" id='{{ value }}' type='radio' value='{{ value }}'> <br>
                <label for='{{ value }}'> <strong>{{value}}</strong></label>
            </div>
                


            {% endfor %}
        </form>
    </div>
    

    {% next_button %}
    <div class="chatbox">
        {% chat nickname=player.username %}
    </div>
    
{% endblock %}

{% block styles %}
<link href="{% static 'global/cardsStyle.css' %}" rel="stylesheet">



{% endblock %}


